html, body
{
    margin:0px;
    padding:0px;
}
.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    background-color: black;
    padding-top:8px;
}
h1
{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: black;
    align-self: flex-start;
    margin:8px;
}
.changeSize
{
    margin-bottom: 16px;
    text-align: center;
    padding:16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.grid-container
{
    display:flex;
    flex-direction: column;
    border:5px solid white;
}

.row
{
    display: flex;
}
.box
{
    border: 1px solid white;
    background-color: black;
    flex:1 1 auto;
}